@import '../../../styles/colors.scss';
@import '../sharedStyles.scss';

#relevantData {

    .h2col{
        h2 {
            color: white;
            text-shadow: 1px 1px 2px black;
        }

        .blueBackg {
            @extend .blueBackg_base;
        }
    }

    .backgroundText {
        position: absolute;
        top: 25%;
        left: 10%;
        text-align: left;
        color: rgba(0, 0, 0, 0.04);
        font-size: 8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        z-index: 1;
        overflow: hidden;
        text-wrap: nowrap;
    }
}

@media only screen and (min-width: 992px) {
    #relevantData {
        position: relative;
        padding: 6rem 0px 1rem 0px;

        .h2col{
            .blueBackg {
                clip-path: polygon(0 0, 95% 0, 94% 100%, 0% 100%);
                height: calc(1.8rem + .9vw);
            }
        }

        h2 {
            margin-left: 3rem;
        }

    }
}

@media only screen and (max-width: 991px) {
    #relevantData {
        padding-bottom: 0;
        
        .h2col {
            position: relative;
            padding: 1rem 0px;
            display: flex;
            align-items: center;
            text-align: center;

            .blueBackg {
                height: 100%;
            }
        }

        // possitive ones
        .bulletCol:first-child{
            margin-bottom: 2rem;
        }
    }
}
