@import '../sharedStyles.scss';

#products {

    .h2col{

        margin-bottom: 8rem;
        h2{
            color: white;
            text-shadow: 1px 1px 2px black;
        }
    }
    .blueBackg{
        @extend .blueBackg_base;
    }

    hr{
        margin: 8rem 0px;
    }

}

@media only screen and (min-width: 992px) {
    #products {
        position: relative;
        
        .blueBackg{
            clip-path: polygon(0 0, 95% 0, 94% 100%, 0% 100%);
            height: calc(1.8rem + .9vw);
        }


        // hide last hr
        .productRow:last-child{
            hr{
                display: none;
            }
        }


        .productRow{
            // <hr>
            .productCol:nth-child(3) {
                order: 3;
            }


            

        }
        .productRow:nth-child(odd) {
            
            // txt
            .productCol:nth-child(2) {
                order: 1;
            }

            // right images
            .productCol:nth-child(1) {
                order: 2;
            }


        }

        button{
            width: 25%;
        }
    }
}
@media only screen and (max-width: 991px) {
    #products {
        .h2col{
            position: relative;

            .blueBackg{
                clip-path: polygon(0 0, 98% 0, 97% 100%, 0% 100%);
                height: 100%;
            }
        }
        button{
            width: 50%;
            margin: 1rem auto 0px auto;
        }
    }
}

