@import '../sharedStyles.scss';

#products {

    .h2col{
        h2 {
            color: white;
            text-shadow: 1px 1px 2px black;
        }
    
        .blueBackg {
            @extend .blueBackg_base;
        }
    }


    .productName {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
    }

    .productRow{
        overflow-x: hidden;
    }

    // hide last hr
    .productRow:last-child {
        hr {
            display: none;
        }
    }

    .backgroundText {
        position: absolute;
        top: -3%;
        left: 10%;
        text-align: left;
        color: rgba(0, 0, 0, 0.04);
        font-size: 8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        z-index: 1;
        overflow: hidden;
        text-wrap: nowrap;
    }

}

@media only screen and (min-width: 992px) {
    #products {
        position: relative;

        .h2col{

            .blueBackg {
                clip-path: polygon(0 0, 95% 0, 94% 100%, 0% 100%);
                height: calc(1.8rem + .9vw);
            }
        }

        .hrCol {
            order: 3;

            hr {
                margin: 6rem 0px;
            }
        }

        button {
            width: 50%;
        }

        .productRow {
            margin-top: 1rem;
            
            &:nth-child(2){
                margin-top: 6rem;
            }

            img{
                height: 100%;
            }
        }
        

        .productRow:nth-child(odd) {

            .txtCol {
                order: 1;
            }

            // right images
            .imgCol {
                order: 2;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    #products {
        .h2col {
            position: relative;
            margin-bottom: 4rem;
            padding: 1rem 0px;
            display: flex;
            align-items: center;

            h2{
                margin-left: 10px;
            }
            .blueBackg {
                height: 100%;
            }
        }

        hr {
            margin: 4rem 0px;
        }

        button {
            width: 60%;
            margin: 1rem auto 0px auto;
        }
    }
}
@media only screen and (min-width: 992px) {
    #products {
        padding: 2rem 0px 5rem 0px;

        h2{
            margin-left: 2rem;
        }
    }
}