$base: 0.6rem;

.chevronContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 33%;
	height: 6rem;

	.chevron {
		position: absolute;
		width: $base * 3.5;
		height: $base * 0.8;
		opacity: 0;
		transform: scale(0.3);
		animation: move-chevron 3s ease-out infinite;

		&:first-child {
			animation: move-chevron 3s ease-out 1s infinite;
		}

		&:nth-child(2) {
			animation: move-chevron 3s ease-out 2s infinite;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			width: 50%;
			background: black;
			left: 0;
			transform: skewY(30deg);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			width: 50%;
			background: black;
			right: 0;
			width: 50%;
			transform: skewY(-30deg);
		}
	}
}

@keyframes move-chevron {
	25% {
		opacity: 1;
	}

	33% {
		opacity: 1;
		transform: translateY($base * 3.8);
	}

	66% {
		opacity: 1;
		transform: translateY($base * 5.2);
	}

	100% {
		opacity: 0;
		transform: translateY($base * 8) scale(0.5);
	}
}

@media only screen and (min-width: 992px){
    .chevronContainer{
        transform: rotate(270deg);
    }
}