#testimonials{
    position: relative;

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: #6B6F6B;
        width: 30px;
        height: 30px;
    }
    
    .testimonialLogo {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 992px) {
    #testimonials{
        padding-bottom: 8.5rem;
        .testimonialLogo img {
            width: 75%
        }
    }
}