#firstBackground{
    background-image: url("/backgrounds/subtlePrism.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -14px 7px -9px rgba(50,50,50,0.3);
    border-top: 1px solid lightgrey;
    h2{
        font-size: calc(1.65rem + .9vw);
        margin-bottom: 0.75rem;
    }
    
}
.blueBackg_base{
    z-index: 1;
    left: 0;
    width: 100%;
    background: url('/backgrounds/blue_bckg_2.png');
    position: absolute;
}
// h2
@media only screen and (max-width: 991px) {
    #leaders, #products, #testimonials{
        .h2col {
            position: relative;
            margin-bottom: 4rem;
            padding: 1rem 0px;
            display: flex;
            align-items: center;
    
            h2{
                margin: 0px 5px;
                text-align: center;
            }
            .blueBackg {
                height: 100%;
            }
        }
    }
}