@media only screen and (max-width: 991px){
    footer{
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 992px){
    footer{
        padding-top: 3rem;
    }
}