#initialPitch {
    background-color: "#f1f1f1";
}

@media only screen and (max-width: 991px) {
    #initialPitch {
        .btnContainer {
            width: 75%;
        }
    }
}
@media only screen and (min-width: 992px) {
    #initialPitch {
        .btnContainer {
            width: 50%;
        }
    }
}