header {
    position: relative;
    color: #fafafa;

    .container {
        position: relative;
        z-index: 2;
    }

    #background {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        z-index: 1;
    }

    #animatedTriangles{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

}

@media only screen and (max-width: 991px) {
    header {
        .row {
            gap: 20px;
        }

        #background {
            height: 100%;
        }

        #animatedTriangles{
            height: 100%;
            width: auto;
        }

        button {
            width: 100%;
            height: 2.5rem !important;

            &:first-child {
                margin-top: 0.25rem;

            }   
        }
    }
}
@media only screen and (min-width: 992px) {
    #animatedTriangles{
        height: auto;
        width: 100%;
    }
}