@import '../../../styles/colors.scss';
@import '../sharedStyles.scss';

#leaders {

    h2 {
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    .blueBackg {
        @extend .blueBackg_base;
    }

    .imgContainer img{
        border-bottom: 1px solid #e8e8e8;
    }

    .legend{
        padding: 1rem;

        .leadName{
            margin-top: 1rem;
        }
    }
}

@media only screen and (min-width: 992px) {
    #leaders {
        position: relative;
        padding: 6rem 0px 1rem 0px;

        .blueBackg {
            clip-path: polygon(1% 0, 100% 0, 100% 100%, 2% 100%);
            height: calc(1.8rem + .9vw);
        }

        h2 {
            margin-left: 3rem;
        }

        .cardCol:first-child, .cardCol:last-child{

            // brings closer the text to the smaller imgs
            .legend{
                padding-top: 0;

                .leadName{
                    margin-top: 0;
                }
            }


            .imgContainer{
                height: 90%;

                img{
                    height: 100%;
                    width: 100%!important;
                    display: block;
                    object-fit: contain;
                }
            }

        }
    }
}

@media only screen and (max-width: 991px) {
    #leaders {
        padding-bottom: 1rem;
    }
}