
@media only screen and (max-width: 991px){
    footer{
        padding-top: 5rem;
        text-align: center;
    }
}

@media only screen and (min-width: 992px){
    footer{
        padding-top: 8rem;
    }
}