#testimonials {
    position: relative;
    background-image: url('/backgrounds/white_bckg.png');
    border-top: 1px solid #e9ecef;



    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: #6B6F6B;
        width: 30px;
        height: 30px;
    }

    .testimonialLogo {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {

    #testimonials {
        padding: 4.5rem 0px 7.5rem 0px;

        .testimonialLogo img {
            width: 75%
        }

        .h2andIcon{
            margin-left: 3.5rem;
        }
    }
}