:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  overflow-x: hidden;
}
body {
  font-size: 1.15rem;
  line-height: 1.7;
  background-color: white;
  position: relative;
  overflow-x: hidden;
}
main{
  font-family: 'Rubik', sans-serif;
}

h1{
  margin-bottom: 0!important;
}

h2, h3 {
  font-size: calc(1.725rem + .9vw);
  font-weight: normal;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

section {
  padding: 6rem 0px;
}


main{
  position: relative;
  z-index: 2;
}


/* section:nth-child(odd){
  background-color: #f8f9fa;
}
section:nth-child(even){
  background-color: #e9ecef;
}
 */
