#lastPitch {
    #mainPhrase{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 991px) {
    #lastPitch {
        padding-top: 7.5rem;
        
        .ctaBtnContainer{
            width: 100%; // overwrites ctaBtn.scss
        }
    }
}

@media only screen and (min-width: 992px) {
    #lastPitch {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }
}
